.rowedit {
    position: absolute;
    width: 50%;
    flex-direction: column;
    display: flex;
    margin: -1rem 20rem;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
    }
}
.rowedit h1{
    margin: 2rem 12rem;
    color: wheat;
}
.rowedit div {
        width: 100%;
        margin: 0.5rem 0;
        border-radius: 10px;
        cursor: pointer;
        background-color: none;
    }
.rowedit input {
    width: 80%;
    padding: 1rem;
    border: none;
    border-radius: 7px;
    background-color: #edf2f8;
    font-family: "DM Sans", sans-serif;
    color: #313bac;
    outline: none;
    margin: 0.5rem;
}
.rowedit input .date {
    width: 10%
}
label{
    padding: 1rem;
    font-family: "DM Sans", sans-serif;
    color: red;
}
.rowedit .btn-edit {
    padding: 1rem 3rem;
    border-radius: 10px;
    border: none;
    background-color: #313bac;
    font-weight: 300;
    color: #ffffff;
    outline: none;
    margin: 1rem 8rem;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}
.add{
    color: #ffff;
    cursor: pointer;
}
.rowedit .btn {
    width: 5px;
    height: 5px;
    padding: 1rem 3rem;
    border-radius: 10px;
    border: none;
    background-color: #313bac;
    font-weight: 500;
    color: #ffffff;
    outline: none;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}
.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
.app-container h1 {
    margin: 3rem 30rem;
    align-items: center;
}


